name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017

    strategy:
      fail-fast: false
      matrix:
        entry:
          - { ruby: '2.7', mongoid: '3', bundler: '1.17.3' }
          - { ruby: '2.7', mongoid: '4', bundler: '1.17.3' }
          - { ruby: '2.7', mongoid: '5', bundler: '2.4.19' }
          - { ruby: '3.3', mongoid: '6', bundler: '2.4.19' }

    name: test (ruby=${{ matrix.entry.ruby }}, mongoid=${{ matrix.entry.mongoid }})

    env:
      MONGOID_VERSION: ${{ matrix.entry.mongoid }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '${{ matrix.entry.ruby }}'
          bundler: '${{ matrix.entry.bundler }}'
          bundler-cache: true
      - name: Run Tests
        run: bundle exec rake
