name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:4.4
        ports:
          - 27017:27017

    strategy:
      fail-fast: false
      matrix:
        mongoid-version: ['3', '4', '5', '6']

    env:
      MONGOID_VERSION: ${{ matrix.mongoid-version }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true
      - name: Run Tests
        run: bundle exec rake
